<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>

<body>
    <h1>Our Order List - {{ title }}</h1>
    <div class="whole-list">
        {% for order in order_list %}
        <ul class="list">
            <li><b><a href="/orders/{{ loop.index }}">{{ order.customer_name }}:</b> {{ order.item }}, {{
                order.quantity }}, {{
                order.order_date }} </a></li>
        </ul>
        {% endfor %}
    </div>
</body>



</html>